section.header__panel
  .header__panel__block
    input(type="search", placeholder="Поиск по запросу").header__search.search
    div.header__btn-group.btn-group
      button.btn-group__item.btn-group__item--left.btn-group__item--active iPhone/iPod
      button.btn-group__item.btn-group__item--right iPad
  .header__panel__block
    button.header__load-btn.load-btn Скачать .CSV
    button.header__add-request.add-request Добавить запрос